backend/DokuMate/bin
backend/DokuMate/obj
backend/DokuMate/.idea
backend/DokuMate/wwwroot
backend/DokuMate/DokuMate.sln.DotSettings.user

frontend/frontend/.idea
frontend/frontend/.vscode
frontend/frontend/node_modules
frontend/frontend/.angular


*.env
