<div class="doc-detail-container">

  <h2>{{ document.name }}</h2>

  <div class="meta-box">
    <p><strong>Beschreibung:</strong> {{ document.info }}</p>
    <!--<p><strong>Tags:</strong> {{ document.tags.join(', ') }}</p>-->

    <!--<button (click)="download()">📥 Download PDF</button>-->
    <button>Download PDF</button>
    <!--<button class="ocr-btn" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false">-->
    <button class="ocr-btn">
      OCR anzeigen
    </button>

    <div class="tooltip">
      <pre>{{ document.ocrContent }}</pre>
    </div>
  </div>

  <div class="pdf-preview">
    <embed [src]="pdfUrl" width="400" height="500" type="application/pdf" />
    <div>

      <div class="tag-manager">
        <div class="assigned-tags">
          <h3>Zugewiesene Tags</h3>

          @for (tag of document.tags; track tag.id) {
          <div class="tag-chip assigned" (click)="removeTag(tag)">{{ tag.name }}</div>
          }
        </div>

        <div class="available-tags">
          <h3>
            Verfügbare Tags
            <button class="small-btn" (click)="toggleAddTagInput()">➕</button>
          </h3>

          @if (showAddTagInput) {
          <div class="tag-input-row">
            <input [(ngModel)]="newTagName" placeholder="Neues Tag..." />
            <button class="small-btn" (click)="createTag()">Hinzufügen</button>
          </div>
          }

          @for (tag of tags; track tag.id) {
          <div class="tag-chip available" (click)="addToDocument(tag)">{{ tag.name }}</div>
          }
          <!--<div class="tag-chip available" *ngFor="let tag of allTags">-->
          <!--  {{ tag }}-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
